:root {
    //Premitive: Colors
    --transparent: #FFFFFF00;
    --white-a5: #FFFFFF0C;
    --white-a10: #FFFFFF19;
    --white-a20: #FFFFFF33;
    --white-a30: #FFFFFF4C;
    --white-a40: #FFFFFF66;
    --white-a50: #FFFFFF7F;
    --white-a60: #FFFFFF99;
    --white-a70: #FFFFFFB2;
    --white-a80: #FFFFFFCC;
    --white-a90: #FFFFFFE5;
    --white-a100: #FFFFFF;
    --black-a5: #0000000C;
    --black-a10: #00000019;
    --black-a20: #00000033;
    --black-a30: #0000004C;
    --black-a40: #00000066;
    --black-a50: #0000007F;
    --black-a60: #00000099;
    --black-a70: #000000B2;
    --black-a80: #000000CC;
    --black-a90: #000000E5;
    --black-a100: #000000;
    --blue-100: #E2F7FF;
    --blue-200: #A3E3FB;
    --blue-300: #56CBF7;
    --blue-400: #00AEEF;
    --blue-500: #007ACC;
    --blue-600: #00599E;
    --blue-700: #00437A;
    --blue-800: #002F5C;
    --blue-900: #002247;
    --gray-50: #F3F4F7;
    --gray-100: #EAECF0;
    --gray-200: #D5D9DF;
    --gray-300: #B8BDC7;
    --gray-400: #9FA6B2;
    --gray-500: #6E7787;
    --gray-600: #4F555F;
    --gray-700: #3B4049;
    --gray-800: #292D33;
    --gray-900: #16191D;
    --yellow-100: #FFF6D8;
    --yellow-200: #F5D775;
    --yellow-300: #F0B900;
    --yellow-400: #F49A00;
    --yellow-500: #C17100;
    --yellow-600: #844B00;
    --yellow-700: #633500;
    --yellow-800: #4A2700;
    --yellow-900: #3D2000;
    --red-100: #FFEFF1;
    --red-200: #FFCCD2;
    --red-300: #FD8494;
    --red-400: #F35166;
    --red-500: #D32038;
    --red-600: #B90018;
    --red-700: #870012;
    --red-800: #5D030F;
    --red-900: #3D020A;
    --green-100: #DBFCE2;
    --green-200: #A8EFB8;
    --green-300: #52D670;
    --green-400: #1FC045;
    --green-500: #018820;
    --green-600: #06691D;
    --green-700: #054D15;
    --green-800: #02380E;
    --green-900: #002D0A;
    --pink-100: #FFEDF3;
    --pink-200: #FFCADD;
    --pink-300: #FF91BF;
    --pink-400: #F8599C;
    --pink-500: #E50C67;
    --pink-600: #B50C53;
    --pink-700: #8A033B;
    --pink-800: #5F0229;
    --pink-900: #48021C;
    --category-orange-300: #FF794C;
    --category-orange-400: #FF5921;
    --category-teal-300: #50DDB2;
    --category-teal-400: #00AF83;
    --category-blue-300: #3BC8FC;
    --category-blue-400: #009DD8;
    --category-yellow-300: #FEDA66;
    --category-yellow-400: #E2AE00;
    --category-purple-300: #8B8FFF;
    --category-purple-400: #6249FF;
    --category-gray-300: var(--gray-400);
    --category-gray-400: var(--gray-500);
    --theme-red-100: #FCE4DD;
    --theme-red-200: #F8BCAF;
    --theme-red-300: #F48872;
    --theme-red-400: #E4664F;
    --theme-red-500: #D14730;
    --theme-red-600: #BB3E2B;
    --theme-red-700: #8F2B20;
    --theme-red-800: #6A1813;
    --theme-red-900: #510C0B;
    --theme-green-100: #DAF2C7;
    --theme-green-200: #B8E490;
    --theme-green-300: #91C260;
    --theme-green-400: #76A446;
    --theme-green-500: #568029;
    --theme-green-600: #40611B;
    --theme-green-700: #334B17;
    --theme-green-800: #25380D;
    --theme-green-900: #1F2D09;
    --theme-pink-100: #FDDFE9;
    --theme-pink-200: #F2B9CF;
    --theme-pink-300: #F290B7;
    --theme-pink-400: #E65E94;
    --theme-pink-500: #CB3774;
    --theme-pink-600: #AF2B66;
    --theme-pink-700: #972459;
    --theme-pink-800: #711D47;
    --theme-pink-900: #4C0B2F;
    --theme-gray-100: #DBE9F5;
    --theme-gray-200: #B4CDE3;
    --theme-gray-300: #83A7C2;
    --theme-gray-400: #6891B0;
    --theme-gray-500: #507C99;
    --theme-gray-600: #39667F;
    --theme-gray-700: #2E546A;
    --theme-gray-800: #1B4154;
    --theme-gray-900: #0A2B3B;
    --theme-purple-100: #ECDDF8;
    --theme-purple-300: #B98CE2;
    --theme-purple-200: #D9BEF0;
    --theme-purple-400: #A66BE0;
    --theme-purple-500: #8149B8;
    --theme-purple-600: #6834A1;
    --theme-purple-700: #4F1E8A;
    --theme-purple-800: #3D1474;
    --theme-purple-900: #2D0A61;
    --theme-teal-100: #D0F1EE;
    --theme-teal-200: #A2E7E0;
    --theme-teal-300: #72D0C3;
    --theme-teal-400: #48B09F;
    --theme-teal-500: #398175;
    --theme-teal-600: #2A695D;
    --theme-teal-700: #1F5348;
    --theme-teal-800: #123C33;
    --theme-teal-900: #092B22;
    //Semetic: Colors
    --color-background-inverse-default: var(--gray-800);
    --color-background-inverse-plain: var(--black-a100);
    --color-background-inverse-sunken: var(--gray-900);
    --color-background-brand-active: var(--blue-700);
    --color-background-brand-bold: var(--blue-700);
    --color-background-brand-boldest: var(--blue-800);
    --color-background-brand-default: var(--blue-500);
    --color-background-brand-hover: var(--blue-600);
    --color-background-brand-subtle: var(--blue-300);
    --color-background-brand-subtlest: var(--blue-100);
    --color-background-category-entertainment: var(--category-yellow-400);
    --color-background-category-food: var(--category-orange-400);
    --color-background-category-life: var(--category-teal-400);
    --color-background-category-other: var(--category-gray-400);
    --color-background-category-shopping: var(--category-purple-400);
    --color-background-category-transportation: var(--category-blue-400);
    --color-background-danger-active: var(--red-700);
    --color-background-danger-bold: var(--red-700);
    --color-background-danger-boldest: var(--red-800);
    --color-background-danger-default: var(--red-500);
    --color-background-danger-hover: var(--red-600);
    --color-background-danger-subtle: var(--red-300);
    --color-background-danger-subtlest: var(--red-100);
    --color-background-default: var(--white-a100);
    --color-background-disable: var(--gray-50);
    --color-background-donation-active: var(--pink-700);
    --color-background-donation-bold: var(--pink-700);
    --color-background-donation-boldest: var(--pink-800);
    --color-background-donation-default: var(--pink-500);
    --color-background-donation-hover: var(--pink-600);
    --color-background-donation-subtle: var(--pink-300);
    --color-background-donation-subtlest: var(--pink-100);
    --color-background-fixed-black: var(--black-a100);
    --color-background-fixed-white: var(--white-a100);
    --color-background-neutral-active: var(--gray-500);
    --color-background-neutral-bold-active: var(--gray-700);
    --color-background-neutral-bold-hover: var(--gray-600);
    --color-background-neutral-bold: var(--gray-500);
    --color-background-neutral-default: var(--gray-300);
    --color-background-neutral-hover: var(--gray-400);
    --color-background-neutral-subtle-active: var(--gray-300);
    --color-background-neutral-subtle-hover: var(--gray-200);
    --color-background-neutral-subtle: var(--gray-100);
    --color-background-overlay: var(--black-a30);
    --color-background-plain: var(--white-a100);
    --color-background-prize-active: var(--yellow-600);
    --color-background-prize-bold: var(--yellow-600);
    --color-background-prize-boldest: var(--yellow-800);
    --color-background-prize-default: var(--yellow-400);
    --color-background-prize-hover: var(--yellow-500);
    --color-background-prize-subtle: var(--yellow-200);
    --color-background-prize-subtlest: var(--yellow-100);
    --color-background-success-active: var(--green-700);
    --color-background-success-bold: var(--green-700);
    --color-background-success-boldest: var(--green-800);
    --color-background-success-default: var(--green-500);
    --color-background-success-hover: var(--green-600);
    --color-background-success-subtle: var(--green-300);
    --color-background-success-subtlest: var(--green-100);
    --color-background-sunken: var(--gray-50);
    --color-background-theme-Apple-active: var(--theme-red-700);
    --color-background-theme-Apple-bold: var(--theme-red-700);
    --color-background-theme-Apple-boldest: var(--theme-red-800);
    --color-background-theme-Apple-default: var(--theme-red-500);
    --color-background-theme-Apple-hover: var(--theme-red-600);
    --color-background-theme-Apple-subtle: var(--theme-red-300);
    --color-background-theme-Apple-subtlest: var(--theme-red-100);
    --color-background-theme-girl-active: var(--theme-pink-700);
    --color-background-theme-girl-bold: var(--theme-pink-700);
    --color-background-theme-girl-boldest: var(--theme-pink-800);
    --color-background-theme-girl-default: var(--theme-pink-500);
    --color-background-theme-girl-hover: var(--theme-pink-600);
    --color-background-theme-girl-subtle: var(--theme-pink-300);
    --color-background-theme-girl-subtlest: var(--theme-pink-100);
    --color-background-theme-green-active: var(--theme-green-700);
    --color-background-theme-green-bold: var(--theme-green-700);
    --color-background-theme-green-boldest: var(--theme-green-800);
    --color-background-theme-green-default: var(--theme-green-500);
    --color-background-theme-green-hover: var(--theme-green-600);
    --color-background-theme-green-subtle: var(--theme-green-300);
    --color-background-theme-green-subtlest: var(--theme-green-100);
    --color-background-theme-lake-active: var(--theme-teal-700);
    --color-background-theme-lake-bold: var(--theme-teal-700);
    --color-background-theme-lake-boldest: var(--theme-teal-800);
    --color-background-theme-lake-default: var(--theme-teal-500);
    --color-background-theme-lake-hover: var(--theme-teal-600);
    --color-background-theme-lake-subtle: var(--theme-teal-300);
    --color-background-theme-lake-subtlest: var(--theme-teal-100);
    --color-background-theme-lavender-active: var(--theme-purple-700);
    --color-background-theme-lavender-bold: var(--theme-purple-700);
    --color-background-theme-lavender-boldest: var(--theme-purple-800);
    --color-background-theme-lavender-default: var(--theme-purple-500);
    --color-background-theme-lavender-hover: var(--theme-purple-600);
    --color-background-theme-lavender-subtle: var(--theme-purple-300);
    --color-background-theme-lavender-subtlest: var(--theme-purple-100);
    --color-background-theme-rock-active: var(--theme-gray-700);
    --color-background-theme-rock-bold: var(--theme-gray-700);
    --color-background-theme-rock-boldest: var(--theme-gray-800);
    --color-background-theme-rock-default: var(--theme-gray-500);
    --color-background-theme-rock-hover: var(--theme-gray-600);
    --color-background-theme-rock-subtle: var(--theme-gray-300);
    --color-background-theme-rock-subtlest: var(--theme-gray-100);
    --color-background-toast: var(--black-a80);
    --color-background-transparent-active: var(--black-a20);
    --color-background-transparent-default: var(--transparent);
    --color-background-transparent-hover: var(--black-a10);
    --color-background-warning-active: var(--yellow-600);
    --color-background-warning-bold: var(--yellow-600);
    --color-background-warning-boldest: var(--yellow-800);
    --color-background-warning-default: var(--yellow-400);
    --color-background-warning-hover: var(--yellow-500);
    --color-background-warning-subtle: var(--yellow-200);
    --color-background-warning-subtlest: var(--yellow-100);
    --color-border-bold: var(--gray-500);
    --color-border-boldest: var(--gray-700);
    --color-border-brand: var(--blue-500);
    --color-border-category-entertainment: var(--category-yellow-400);
    --color-border-category-food: var(--category-orange-400);
    --color-border-category-life: var(--category-teal-400);
    --color-border-category-other: var(--category-gray-400);
    --color-border-category-shopping: var(--category-purple-400);
    --color-border-category-transportation: var(--category-blue-400);
    --color-border-danger: var(--red-500);
    --color-border-default: var(--gray-300);
    --color-border-divider: var(--black-a10);
    --color-border-donation: var(--pink-500);
    --color-border-fixed-black: var(--black-a100);
    --color-border-fixed-bold: var(--gray-900);
    --color-border-fixed-white: var(--white-a100);
    --color-border-inverse-divider: var(--white-a10);
    --color-border-inverse-plain: var(--white-a100);
    --color-border-plain: var(--black-a100);
    --color-border-prize: var(--yellow-400);
    --color-border-subtle: var(--gray-100);
    --color-border-success: var(--green-500);
    --color-border-theme-Apple: var(--theme-red-500);
    --color-border-theme-girl: var(--theme-pink-500);
    --color-border-theme-green: var(--theme-green-500);
    --color-border-theme-lake: var(--theme-teal-500);
    --color-border-theme-lavender: var(--theme-purple-500);
    --color-border-theme-rock: var(--theme-gray-500);
    --color-border-warning: var(--yellow-400);
    --color-content-bold: var(--gray-900);
    --color-content-brand-active: var(--blue-700);
    --color-content-brand-bold: var(--blue-700);
    --color-content-brand-default: var(--blue-500);
    --color-content-brand-hover: var(--blue-600);
    --color-content-brand-subtle: var(--blue-200);
    --color-content-category-entertainment: var(--category-yellow-400);
    --color-content-category-food: var(--category-orange-400);
    --color-content-category-life: var(--category-teal-400);
    --color-content-category-other: var(--gray-500);
    --color-content-category-shopping: var(--category-purple-400);
    --color-content-category-transportation: var(--category-blue-400);
    --color-content-danger-active: var(--red-700);
    --color-content-danger-bold: var(--red-700);
    --color-content-danger-default: var(--red-500);
    --color-content-danger-hover: var(--red-600);
    --color-content-danger-subtle: var(--red-200);
    --color-content-default: var(--gray-700);
    --color-content-donation-active: var(--pink-700);
    --color-content-donation-bold: var(--pink-700);
    --color-content-donation-default: var(--pink-500);
    --color-content-donation-hover: var(--pink-600);
    --color-content-donation-subtle: var(--pink-200);
    --color-content-fixed-black: var(--black-a100);
    --color-content-fixed-bold: var(--gray-900);
    --color-content-fixed-brand: var(--blue-500);
    --color-content-fixed-default: var(--gray-700);
    --color-content-fixed-white: var(--white-a100);
    --color-content-inverse-bold: var(--white-a100);
    --color-content-inverse-brand: var(--blue-400);
    --color-content-inverse-default: var(--gray-100);
    --color-content-inverse-plain: var(--white-a100);
    --color-content-inverse-subtle: var(--gray-300);
    --color-content-link-active: var(--blue-700);
    --color-content-link-default: var(--blue-500);
    --color-content-plain: var(--black-a100);
    --color-content-prize-active: var(--yellow-600);
    --color-content-prize-bold: var(--yellow-700);
    --color-content-prize-default: var(--yellow-400);
    --color-content-prize-hover: var(--yellow-500);
    --color-content-prize-subtle: var(--yellow-200);
    --color-content-subtle: var(--gray-500);
    --color-content-subtlest: var(--gray-400);
    --color-content-success-active: var(--green-700);
    --color-content-success-bold: var(--green-700);
    --color-content-success-default: var(--green-500);
    --color-content-success-hover: var(--green-600);
    --color-content-success-subtle: var(--green-200);
    --color-content-theme-Apple-active: var(--theme-red-700);
    --color-content-theme-Apple-bold: var(--theme-red-700);
    --color-content-theme-Apple-default: var(--theme-red-500);
    --color-content-theme-Apple-hover: var(--theme-red-600);
    --color-content-theme-Apple-subtle: var(--theme-red-200);
    --color-content-theme-girl-active: var(--theme-pink-700);
    --color-content-theme-girl-bold: var(--theme-pink-700);
    --color-content-theme-girl-default: var(--theme-pink-500);
    --color-content-theme-girl-hover: var(--theme-pink-600);
    --color-content-theme-girl-subtle: var(--theme-pink-200);
    --color-content-theme-green-active: var(--theme-green-700);
    --color-content-theme-green-bold: var(--theme-green-700);
    --color-content-theme-green-default: var(--theme-green-500);
    --color-content-theme-green-hover: var(--theme-green-600);
    --color-content-theme-green-subtle: var(--theme-green-200);
    --color-content-theme-lake-active: var(--theme-teal-700);
    --color-content-theme-lake-bold: var(--theme-teal-700);
    --color-content-theme-lake-default: var(--theme-teal-500);
    --color-content-theme-lake-hover: var(--theme-teal-600);
    --color-content-theme-lake-subtle: var(--theme-teal-200);
    --color-content-theme-lavender-active: var(--theme-purple-700);
    --color-content-theme-lavender-bold: var(--theme-purple-700);
    --color-content-theme-lavender-default: var(--theme-purple-500);
    --color-content-theme-lavender-hover: var(--theme-purple-600);
    --color-content-theme-lavender-subtle: var(--theme-purple-200);
    --color-content-theme-rock-active: var(--theme-gray-700);
    --color-content-theme-rock-bold: var(--theme-gray-700);
    --color-content-theme-rock-default: var(--theme-gray-500);
    --color-content-theme-rock-hover: var(--theme-gray-600);
    --color-content-theme-rock-subtle: var(--theme-gray-200);
    --color-content-warning-active: var(--yellow-600);
    --color-content-warning-bold: var(--yellow-700);
    --color-content-warning-default: var(--yellow-400);
    --color-content-warning-hover: var(--yellow-500);
    --color-content-warning-subtle: var(--yellow-200);
    --color-shadow-bold: var(--black-a40);
    --color-shadow-default: var(--gray-a20);
    --color-shadow-fixed-bold: var(--black-a40);
    --color-shadow-glow-default: var(--white-a80);
    --color-shadow-sheet: var(--gray-a10);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-inverse-default: var(--white-a100);
        --color-background-inverse-plain: var(--white-a100);
        --color-background-inverse-sunken: var(--gray-50);
        --color-background-brand-active: var(--blue-200);
        --color-background-brand-bold: var(--blue-300);
        --color-background-brand-boldest: var(--blue-100);
        --color-background-brand-default: var(--blue-400);
        --color-background-brand-hover: var(--blue-300);
        --color-background-brand-subtle: var(--blue-700);
        --color-background-brand-subtlest: var(--blue-800);
        --color-background-category-entertainment: var(--category-yellow-300);
        --color-background-category-food: var(--category-orange-300);
        --color-background-category-life: var(--category-teal-300);
        --color-background-category-other: var(--category-gray-300);
        --color-background-category-shopping: var(--category-purple-300);
        --color-background-category-transportation: var(--category-blue-300);
        --color-background-danger-active: var(--red-200);
        --color-background-danger-bold: var(--red-300);
        --color-background-danger-boldest: var(--red-100);
        --color-background-danger-default: var(--red-400);
        --color-background-danger-hover: var(--red-300);
        --color-background-danger-subtle: var(--red-700);
        --color-background-danger-subtlest: var(--red-800);
        --color-background-default: var(--gray-800);
        --color-background-disable: var(--gray-700);
        --color-background-donation-active: var(--pink-200);
        --color-background-donation-bold: var(--pink-300);
        --color-background-donation-boldest: var(--pink-100);
        --color-background-donation-default: var(--pink-400);
        --color-background-donation-hover: var(--pink-300);
        --color-background-donation-subtle: var(--pink-700);
        --color-background-donation-subtlest: var(--pink-800);
        --color-background-fixed-black: var(--black-a100);
        --color-background-fixed-white: var(--white-a100);
        --color-background-neutral-active: var(--gray-300);
        --color-background-neutral-bold-active: var(--gray-100);
        --color-background-neutral-bold-hover: var(--gray-200);
        --color-background-neutral-bold: var(--gray-300);
        --color-background-neutral-default: var(--gray-500);
        --color-background-neutral-hover: var(--gray-400);
        --color-background-neutral-subtle-active: var(--gray-500);
        --color-background-neutral-subtle-hover: var(--gray-600);
        --color-background-neutral-subtle: var(--gray-700);
        --color-background-overlay: var(--black-a40);
        --color-background-plain: var(--black-a100);
        --color-background-prize-active: var(--yellow-100);
        --color-background-prize-bold: var(--yellow-200);
        --color-background-prize-boldest: var(--yellow-100);
        --color-background-prize-default: var(--yellow-300);
        --color-background-prize-hover: var(--yellow-200);
        --color-background-prize-subtle: var(--yellow-600);
        --color-background-prize-subtlest: var(--yellow-800);
        --color-background-success-active: var(--green-200);
        --color-background-success-bold: var(--green-300);
        --color-background-success-boldest: var(--green-100);
        --color-background-success-default: var(--green-400);
        --color-background-success-hover: var(--green-300);
        --color-background-success-subtle: var(--green-700);
        --color-background-success-subtlest: var(--green-800);
        --color-background-sunken: var(--gray-900);
        --color-background-theme-Apple-active: var(--theme-red-200);
        --color-background-theme-Apple-bold: var(--theme-red-300);
        --color-background-theme-Apple-boldest: var(--theme-red-100);
        --color-background-theme-Apple-default: var(--theme-red-400);
        --color-background-theme-Apple-hover: var(--theme-red-300);
        --color-background-theme-Apple-subtle: var(--theme-red-700);
        --color-background-theme-Apple-subtlest: var(--theme-red-800);
        --color-background-theme-girl-active: var(--theme-pink-200);
        --color-background-theme-girl-bold: var(--theme-pink-300);
        --color-background-theme-girl-boldest: var(--theme-pink-100);
        --color-background-theme-girl-default: var(--theme-pink-400);
        --color-background-theme-girl-hover: var(--theme-pink-300);
        --color-background-theme-girl-subtle: var(--theme-pink-300);
        --color-background-theme-girl-subtlest: var(--theme-pink-800);
        --color-background-theme-green-active: var(--theme-green-200);
        --color-background-theme-green-bold: var(--theme-green-300);
        --color-background-theme-green-boldest: var(--theme-green-100);
        --color-background-theme-green-default: var(--theme-green-400);
        --color-background-theme-green-hover: var(--theme-green-300);
        --color-background-theme-green-subtle: var(--theme-green-700);
        --color-background-theme-green-subtlest: var(--theme-green-800);
        --color-background-theme-lake-active: var(--theme-teal-200);
        --color-background-theme-lake-bold: var(--theme-teal-300);
        --color-background-theme-lake-boldest: var(--theme-teal-100);
        --color-background-theme-lake-default: var(--theme-teal-400);
        --color-background-theme-lake-hover: var(--theme-teal-300);
        --color-background-theme-lake-subtle: var(--theme-teal-700);
        --color-background-theme-lake-subtlest: var(--theme-teal-800);
        --color-background-theme-lavender-active: var(--theme-purple-200);
        --color-background-theme-lavender-bold: var(--theme-purple-300);
        --color-background-theme-lavender-boldest: var(--theme-purple-100);
        --color-background-theme-lavender-default: var(--theme-purple-400);
        --color-background-theme-lavender-hover: var(--theme-purple-300);
        --color-background-theme-lavender-subtle: var(--theme-purple-700);
        --color-background-theme-lavender-subtlest: var(--theme-purple-800);
        --color-background-theme-rock-active: var(--theme-gray-200);
        --color-background-theme-rock-bold: var(--theme-gray-300);
        --color-background-theme-rock-boldest: var(--theme-gray-100);
        --color-background-theme-rock-default: var(--theme-gray-400);
        --color-background-theme-rock-hover: var(--theme-gray-300);
        --color-background-theme-rock-subtle: var(--theme-gray-700);
        --color-background-theme-rock-subtlest: var(--theme-gray-800);
        --color-background-toast: var(--white-a90);
        --color-background-transparent-active: var(--white-a20);
        --color-background-transparent-default: var(--transparent);
        --color-background-transparent-hover: var(--white-a10);
        --color-background-warning-active: var(--yellow-100);
        --color-background-warning-bold: var(--yellow-200);
        --color-background-warning-boldest: var(--yellow-100);
        --color-background-warning-default: var(--yellow-300);
        --color-background-warning-hover: var(--yellow-200);
        --color-background-warning-subtle: var(--yellow-600);
        --color-background-warning-subtlest: var(--yellow-800);
        --color-border-bold: var(--gray-300);
        --color-border-boldest: var(--gray-100);
        --color-border-brand: var(--blue-400);
        --color-border-category-entertainment: var(--category-yellow-300);
        --color-border-category-food: var(--category-orange-300);
        --color-border-category-life: var(--category-teal-300);
        --color-border-category-other: var(--category-gray-300);
        --color-border-category-shopping: var(--category-purple-300);
        --color-border-category-transportation: var(--category-blue-300);
        --color-border-danger: var(--red-400);
        --color-border-default: var(--gray-500);
        --color-border-divider: var(--white-a10);
        --color-border-donation: var(--pink-400);
        --color-border-fixed-black: var(--black-a100);
        --color-border-fixed-bold: var(--gray-900);
        --color-border-fixed-white: var(--white-a100);
        --color-border-inverse-divider: var(--black-a10);
        --color-border-inverse-plain: var(--black-a100);
        --color-border-plain: var(--white-a100);
        --color-border-prize: var(--yellow-300);
        --color-border-subtle: var(--gray-700);
        --color-border-success: var(--green-400);
        --color-border-theme-Apple: var(--theme-red-400);
        --color-border-theme-girl: var(--theme-pink-400);
        --color-border-theme-green: var(--theme-green-400);
        --color-border-theme-lake: var(--theme-teal-400);
        --color-border-theme-lavender: var(--theme-purple-400);
        --color-border-theme-rock: var(--theme-gray-400);
        --color-border-warning: var(--yellow-300);
        --color-content-bold: var(--white-a100);
        --color-content-brand-active: var(--blue-200);
        --color-content-brand-bold: var(--blue-200);
        --color-content-brand-default: var(--blue-400);
        --color-content-brand-hover: var(--blue-300);
        --color-content-brand-subtle: var(--blue-700);
        --color-content-category-entertainment: var(--category-yellow-300);
        --color-content-category-food: var(--category-orange-300);
        --color-content-category-life: var(--category-teal-300);
        --color-content-category-other: var(--gray-400);
        --color-content-category-shopping: var(--category-purple-300);
        --color-content-category-transportation: var(--category-blue-300);
        --color-content-danger-active: var(--red-200);
        --color-content-danger-bold: var(--red-200);
        --color-content-danger-default: var(--red-400);
        --color-content-danger-hover: var(--red-300);
        --color-content-danger-subtle: var(--red-700);
        --color-content-default: var(--gray-100);
        --color-content-donation-active: var(--pink-200);
        --color-content-donation-bold: var(--pink-200);
        --color-content-donation-default: var(--pink-400);
        --color-content-donation-hover: var(--pink-300);
        --color-content-donation-subtle: var(--pink-700);
        --color-content-fixed-black: var(--black-a100);
        --color-content-fixed-bold: var(--gray-900);
        --color-content-fixed-brand: var(--blue-500);
        --color-content-fixed-default: var(--gray-700);
        --color-content-fixed-white: var(--white-a100);
        --color-content-inverse-bold: var(--gray-900);
        --color-content-inverse-brand: var(--blue-500);
        --color-content-inverse-default: var(--gray-700);
        --color-content-inverse-plain: var(--black-a100);
        --color-content-inverse-subtle: var(--gray-500);
        --color-content-link-active: var(--blue-200);
        --color-content-link-default: var(--blue-400);
        --color-content-plain: var(--white-a100);
        --color-content-prize-active: var(--yellow-200);
        --color-content-prize-bold: var(--yellow-200);
        --color-content-prize-default: var(--yellow-300);
        --color-content-prize-hover: var(--yellow-200);
        --color-content-prize-subtle: var(--yellow-700);
        --color-content-subtle: var(--gray-300);
        --color-content-subtlest: var(--gray-400);
        --color-content-success-active: var(--green-200);
        --color-content-success-bold: var(--green-200);
        --color-content-success-default: var(--green-400);
        --color-content-success-hover: var(--green-300);
        --color-content-success-subtle: var(--green-700);
        --color-content-theme-Apple-active: var(--theme-red-200);
        --color-content-theme-Apple-bold: var(--theme-red-200);
        --color-content-theme-Apple-default: var(--theme-red-400);
        --color-content-theme-Apple-hover: var(--theme-red-300);
        --color-content-theme-Apple-subtle: var(--theme-red-700);
        --color-content-theme-girl-active: var(--theme-pink-200);
        --color-content-theme-girl-bold: var(--theme-pink-200);
        --color-content-theme-girl-default: var(--theme-pink-400);
        --color-content-theme-girl-hover: var(--theme-pink-300);
        --color-content-theme-girl-subtle: var(--theme-pink-700);
        --color-content-theme-green-active: var(--theme-green-200);
        --color-content-theme-green-bold: var(--theme-green-200);
        --color-content-theme-green-default: var(--theme-green-400);
        --color-content-theme-green-hover: var(--theme-green-300);
        --color-content-theme-green-subtle: var(--theme-green-700);
        --color-content-theme-lake-active: var(--theme-teal-200);
        --color-content-theme-lake-bold: var(--theme-teal-200);
        --color-content-theme-lake-default: var(--theme-teal-400);
        --color-content-theme-lake-hover: var(--theme-teal-300);
        --color-content-theme-lake-subtle: var(--theme-teal-700);
        --color-content-theme-lavender-active: var(--theme-purple-200);
        --color-content-theme-lavender-bold: var(--theme-purple-200);
        --color-content-theme-lavender-default: var(--theme-purple-400);
        --color-content-theme-lavender-hover: var(--theme-purple-300);
        --color-content-theme-lavender-subtle: var(--theme-purple-700);
        --color-content-theme-rock-active: var(--theme-gray-200);
        --color-content-theme-rock-bold: var(--theme-gray-200);
        --color-content-theme-rock-default: var(--theme-gray-400);
        --color-content-theme-rock-hover: var(--theme-gray-300);
        --color-content-theme-rock-subtle: var(--theme-gray-700);
        --color-content-warning-active: var(--yellow-100);
        --color-content-warning-bold: var(--yellow-200);
        --color-content-warning-default: var(--yellow-300);
        --color-content-warning-hover: var(--yellow-200);
        --color-content-warning-subtle: var(--yellow-700);
        --color-shadow-bold: var(--black-a50);
        --color-shadow-default: var(--gray-a80);
        --color-shadow-fixed-bold: var(--black-a40);
        --color-shadow-glow-default: var(--white-a20);
        --color-shadow-sheet: var(--gray-a90);
    }
}