// Primitive size values
$size-0: 0px;
$size-1: 1px;
$size-2: 2px;
$size-4: 4px;
$size-6: 6px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-32: 32px;
$size-36: 36px;
$size-40: 40px;
$size-48: 48px;
$size-56: 56px;
$size-64: 64px;
$size-72: 72px;
$size-80: 80px;
$size-96: 96px;
$size-120: 120px;
$size-144: 144px;
$size-160: 160px;
$size-200: 200px;

//Primitive color values
$transparent: #FFFFFF00;
$white-a5: #FFFFFF0C;
$white-a10: #FFFFFF19;
$white-a20: #FFFFFF33;
$white-a30: #FFFFFF4C;
$white-a40: #FFFFFF66;
$white-a50: #FFFFFF7F;
$white-a60: #FFFFFF99;
$white-a70: #FFFFFFB2;
$white-a80: #FFFFFFCC;
$white-a90: #FFFFFFE5;
$white-a100: #FFFFFF;
$black-a5: #0000000C;
$black-a10: #00000019;
$black-a20: #00000033;
$black-a30: #0000004C;
$black-a40: #00000066;
$black-a50: #0000007F;
$black-a60: #00000099;
$black-a70: #000000B2;
$black-a80: #000000CC;
$black-a90: #000000E5;
$black-a100: #000000;
$blue-100: #E2F7FF;
$blue-200: #A3E3FB;
$blue-300: #56CBF7;
$blue-400: #00AEEF;
$blue-500: #007ACC;
$blue-600: #00599E;
$blue-700: #00437A;
$blue-800: #002F5C;
$blue-900: #002247;
$gray-50: #F3F4F7;
$gray-100: #EAECF0;
$gray-200: #D5D9DF;
$gray-300: #B8BDC7;
$gray-400: #9FA6B2;
$gray-500: #6E7787;
$gray-600: #4F555F;
$gray-700: #3B4049;
$gray-800: #292D33;
$gray-900: #16191D;
$yellow-100: #FFF6D8;
$yellow-200: #F5D775;
$yellow-300: #F0B900;
$yellow-400: #F49A00;
$yellow-500: #C17100;
$yellow-600: #844B00;
$yellow-700: #633500;
$yellow-800: #4A2700;
$yellow-900: #3D2000;
$red-100: #FFEFF1;
$red-200: #FFCCD2;
$red-300: #FD8494;
$red-400: #F35166;
$red-500: #D32038;
$red-600: #B90018;
$red-700: #870012;
$red-800: #5D030F;
$red-900: #3D020A;
$green-100: #DBFCE2;
$green-200: #A8EFB8;
$green-300: #52D670;
$green-400: #1FC045;
$green-500: #018820;
$green-600: #06691D;
$green-700: #054D15;
$green-800: #02380E;
$green-900: #002D0A;
$pink-100: #FFEDF3;
$pink-200: #FFCADD;
$pink-300: #FF91BF;
$pink-400: #F8599C;
$pink-500: #E50C67;
$pink-600: #B50C53;
$pink-700: #8A033B;
$pink-800: #5F0229;
$pink-900: #48021C;
$category-orange-300: #FF794C;
$category-orange-400: #FF5921;
$category-teal-300: #50DDB2;
$category-teal-400: #00AF83;
$category-blue-300: #3BC8FC;
$category-blue-400: #009DD8;
$category-yellow-300: #FEDA66;
$category-yellow-400: #E2AE00;
$category-purple-300: #8B8FFF;
$category-purple-400: #6249FF;
$category-gray-300: $gray-400;
$category-gray-400: $gray-500;
$theme-red-100: #FCE4DD;
$theme-red-200: #F8BCAF;
$theme-red-300: #F48872;
$theme-red-400: #E4664F;
$theme-red-500: #D14730;
$theme-red-600: #BB3E2B;
$theme-red-700: #8F2B20;
$theme-red-800: #6A1813;
$theme-red-900: #510C0B;
$theme-green-100: #DAF2C7;
$theme-green-200: #B8E490;
$theme-green-300: #91C260;
$theme-green-400: #76A446;
$theme-green-500: #568029;
$theme-green-600: #40611B;
$theme-green-700: #334B17;
$theme-green-800: #25380D;
$theme-green-900: #1F2D09;
$theme-pink-100: #FDDFE9;
$theme-pink-200: #F2B9CF;
$theme-pink-300: #F290B7;
$theme-pink-400: #E65E94;
$theme-pink-500: #CB3774;
$theme-pink-600: #AF2B66;
$theme-pink-700: #972459;
$theme-pink-800: #711D47;
$theme-pink-900: #4C0B2F;
$theme-gray-100: #DBE9F5;
$theme-gray-200: #B4CDE3;
$theme-gray-300: #83A7C2;
$theme-gray-400: #6891B0;
$theme-gray-500: #507C99;
$theme-gray-600: #39667F;
$theme-gray-700: #2E546A;
$theme-gray-800: #1B4154;
$theme-gray-900: #0A2B3B;
$theme-purple-100: #ECDDF8;
$theme-purple-300: #B98CE2;
$theme-purple-200: #D9BEF0;
$theme-purple-400: #A66BE0;
$theme-purple-500: #8149B8;
$theme-purple-600: #6834A1;
$theme-purple-700: #4F1E8A;
$theme-purple-800: #3D1474;
$theme-purple-900: #2D0A61;
$theme-teal-100: #D0F1EE;
$theme-teal-200: #A2E7E0;
$theme-teal-300: #72D0C3;
$theme-teal-400: #48B09F;
$theme-teal-500: #398175;
$theme-teal-600: #2A695D;
$theme-teal-700: #1F5348;
$theme-teal-800: #123C33;
$theme-teal-900: #092B22;