@import 'primitive';

//Space tokens
$space-0: $size-0;
$space-25: $size-1;
$space-50: $size-2;
$space-100: $size-4;
$space-150: $size-6;
$space-200: $size-8;
$space-250: $size-10;
$space-300: $size-12;
$space-400: $size-16;
$space-500: $size-20;
$space-600: $size-24;
$space-650: $size-26;
$space-700: $size-28;
$space-800: $size-32;
$space-900: $size-36;
$space-1000: $size-40;
$space-1200: $size-48;
$space-1400: $size-56;
$space-1600: $size-64;
$space-1800: $size-72;
$space-2000: $size-80;
$space-2400: $size-96;
$space-3000: $size-120;
$space-3600: $size-144;
$space-4000: $size-160;
$space-5000: $size-200;

//Radius tokens
$radius-0: $size-0;
$radius-50: $size-2;
$radius-100: $size-4;
$radius-150: $size-6;
$radius-200: $size-8;
$radius-400: $size-16;
$radius-600: $size-24;
$radius-1000: $size-40;
$radius-full: 999px;

//Shadow effect tokens
$shadow-small: 0 .125rem .25rem var(--color-shadow-default);
$shadow-medium: 0 .25rem .5rem var(--color-shadow-default);
$shadow-large: 0 .5rem 1rem var(--color-shadow-default);
$shadow-sheet: 0 -.25rem .5rem var(--color-shadow-sheet);
$shadow-bold: 0 0rem 1rem var(--color-shadow-bold);

//Font tokens
$font-family-default: Noto Sans TC, PingFangTC, Microsoft JhengHei, sans-serif;
$font-family-code: Roboto Mono, SF Mono, Consolas;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$letter-spacing-normal: normal;
$letter-spacing-wide: 1px;
$letter-spacing-widest: 2px;

// Component tokens
$opacity-disabled: .4;