@import 'primitive';

$color-content-bold: $white-a100;
$color-content-default: $gray-100;
$color-content-subtle: $gray-300;
$color-content-subtlest: $gray-400;
$color-content-plain: $white-a100;
$color-content-inverse-plain: $black-a100;
$color-content-inverse-bold: $gray-900;
$color-content-inverse-default: $gray-700;
$color-content-inverse-subtle: $gray-500;
$color-content-inverse-brand: $blue-500;
$color-content-fixed-brand: $blue-500;
$color-content-fixed-white: $white-a100;
$color-content-fixed-black: $black-a100;
$color-content-fixed-bold: $gray-900;
$color-content-fixed-default: $gray-700;
$color-content-brand-default: $blue-400;
$color-content-brand-hover: $blue-300;
$color-content-brand-active: $blue-200;
$color-content-brand-subtle: $blue-700;
$color-content-brand-bold: $blue-200;
$color-content-success-default: $green-400;
$color-content-success-hover: $green-300;
$color-content-success-active: $green-200;
$color-content-success-subtle: $green-700;
$color-content-success-bold: $green-200;
$color-content-danger-default: $red-400;
$color-content-danger-hover: $red-300;
$color-content-danger-active: $red-200;
$color-content-danger-subtle: $red-700;
$color-content-danger-bold: $red-200;
$color-content-warning-default: $yellow-300;
$color-content-warning-hover: $yellow-200;
$color-content-warning-active: $yellow-100;
$color-content-warning-subtle: $yellow-700;
$color-content-warning-bold: $yellow-200;
$color-content-prize-default: $yellow-300;
$color-content-prize-hover: $yellow-200;
$color-content-prize-active: $yellow-200;
$color-content-prize-subtle: $yellow-700;
$color-content-prize-bold: $yellow-200;
$color-content-link-default: $blue-400;
$color-content-link-active: $blue-200;
$color-content-donation-default: $pink-400;
$color-content-donation-hover: $pink-300;
$color-content-donation-active: $pink-200;
$color-content-donation-subtle: $pink-700;
$color-content-donation-bold: $pink-200;
$color-content-category-food: $category-orange-300;
$color-content-category-transportation: $category-blue-300;
$color-content-category-shopping: $category-purple-300;
$color-content-category-life: $category-teal-300;
$color-content-category-entertainment: $category-yellow-300;
$color-content-category-other: $gray-400;
$color-background-default: $gray-800;
$color-background-sunken: $gray-900;
$color-background-plain: $black-a100;
$color-background-overlay: $black-a40;
$color-background-toast: $white-a90;
$color-background-inverse-default: $white-a100;
$color-background-inverse-sunken: $gray-50;
$color-background-inverse-plain: $white-a100;
$color-background-fixed-white: $white-a100;
$color-background-fixed-black: $black-a100;
$color-background-brand-default: $blue-400;
$color-background-brand-hover: $blue-300;
$color-background-brand-active: $blue-200;
$color-background-brand-subtlest: $blue-800;
$color-background-brand-subtle: $blue-700;
$color-background-brand-bold: $blue-300;
$color-background-brand-boldest: $blue-100;
$color-background-neutral-default: $gray-500;
$color-background-neutral-hover: $gray-400;
$color-background-neutral-active: $gray-300;
$color-background-neutral-subtle: $gray-700;
$color-background-neutral-subtle-hover: $gray-600;
$color-background-neutral-subtle-active: $gray-500;
$color-background-neutral-bold: $gray-300;
$color-background-neutral-bold-hover: $gray-200;
$color-background-neutral-bold-active: $gray-100;
$color-background-transparent-default: $transparent;
$color-background-transparent-hover: $white-a10;
$color-background-transparent-active: $white-a20;
$color-background-success-default: $green-400;
$color-background-success-hover: $green-300;
$color-background-success-active: $green-200;
$color-background-success-subtlest: $green-800;
$color-background-success-subtle: $green-700;
$color-background-success-bold: $green-300;
$color-background-success-boldest: $green-100;
$color-background-danger-default: $red-400;
$color-background-danger-hover: $red-300;
$color-background-danger-active: $red-200;
$color-background-danger-subtlest: $red-800;
$color-background-danger-subtle: $red-700;
$color-background-danger-bold: $red-300;
$color-background-danger-boldest: $red-100;
$color-background-warning-default: $yellow-300;
$color-background-warning-hover: $yellow-200;
$color-background-warning-active: $yellow-100;
$color-background-warning-subtlest: $yellow-800;
$color-background-warning-subtle: $yellow-600;
$color-background-warning-bold: $yellow-200;
$color-background-warning-boldest: $yellow-100;
$color-background-prize-default: $yellow-300;
$color-background-prize-hover: $yellow-200;
$color-background-prize-active: $yellow-100;
$color-background-prize-subtlest: $yellow-800;
$color-background-prize-subtle: $yellow-600;
$color-background-prize-bold: $yellow-200;
$color-background-prize-boldest: $yellow-100;
$color-background-donation-default: $pink-400;
$color-background-donation-hover: $pink-300;
$color-background-donation-active: $pink-200;
$color-background-donation-subtlest: $pink-800;
$color-background-donation-subtle: $pink-700;
$color-background-donation-bold: $pink-300;
$color-background-donation-boldest: $pink-100;
$color-background-category-food: $category-orange-300;
$color-background-category-life: $category-teal-300;
$color-background-category-entertainment: $category-yellow-300;
$color-background-category-transportation: $category-blue-300;
$color-background-category-shopping: $category-purple-300;
$color-background-category-other: $category-gray-300;
$color-border-default: $gray-500;
$color-border-subtle: $gray-700;
$color-border-bold: $gray-300;
$color-border-boldest: $gray-100;
$color-border-brand: $blue-400;
$color-border-success: $green-400;
$color-border-danger: $red-400;
$color-border-warning: $yellow-300;
$color-border-prize: $yellow-300;
$color-border-donation: $pink-400;
$color-border-divider: $white-a10;
$color-border-theme-apple: $theme-red-400;
$color-border-plain: $white-a100;
$color-border-inverse-divider: $black-a10;
$color-border-inverse-plain: $black-a100;
$color-border-fixed-white: $white-a100;
$color-border-fixed-black: $black-a100;
$color-border-fixed-bold: $gray-900;
$color-border-category-food: $category-orange-300;
$color-border-category-transportation: $category-blue-300;
$color-border-category-shopping: $category-purple-300;
$color-border-category-life: $category-teal-300;
$color-border-category-entertainment: $category-yellow-300;
$color-border-category-other: $category-gray-300;