@import 'primitive';

//Space tokens
$space-0: $size-0;
$space-25: $size-1;
$space-50: $size-2;
$space-100: $size-4;
$space-150: $size-6;
$space-200: $size-8;
$space-250: $size-10;
$space-300: $size-12;
$space-400: $size-16;
$space-500: $size-20;
$space-600: $size-24;
$space-650: $size-26;
$space-700: $size-28;
$space-800: $size-32;
$space-900: $size-36;
$space-1000: $size-40;
$space-1200: $size-48;
$space-1400: $size-56;
$space-1600: $size-64;
$space-1800: $size-72;
$space-2000: $size-80;
$space-2400: $size-96;
$space-3000: $size-120;
$space-3600: $size-144;
$space-4000: $size-160;
$space-5000: $size-200;

//Radius tokens
$radius-0: $size-0;
$radius-50: $size-2;
$radius-100: $size-4;
$radius-150: $size-6;
$radius-200: $size-8;
$radius-400: $size-16;
$radius-600: $size-24;
$radius-1000: $size-40;
$radius-full: 999px;

//Color tokens
$color-content-bold: $gray-900;
$color-content-default: $gray-700;
$color-content-subtle: $gray-500;
$color-content-subtlest: $gray-400;
$color-content-plain: $black-a100;
$color-content-inverse-bold: $white-a100;
$color-content-inverse-default: $gray-100;
$color-content-inverse-subtle: $gray-300;
$color-content-inverse-plain: $white-a100;
$color-content-inverse-brand: $blue-400;
$color-content-fixed-white: $white-a100;
$color-content-fixed-black: $black-a100;
$color-content-fixed-default: $gray-700;
$color-content-fixed-bold: $gray-900;
$color-content-fixed-brand: $blue-500;
$color-content-brand-default: $blue-500;
$color-content-brand-hover: $blue-600;
$color-content-brand-active: $blue-700;
$color-content-brand-subtle: $blue-200;
$color-content-brand-bold: $blue-700;
$color-content-success-default: $green-500;
$color-content-success-hover: $green-600;
$color-content-success-active: $green-700;
$color-content-success-subtle: $green-200;
$color-content-success-bold: $green-700;
$color-content-danger-default: $red-500;
$color-content-danger-hover: $red-600;
$color-content-danger-active: $red-700;
$color-content-danger-subtle: $red-200;
$color-content-danger-bold: $red-700;
$color-content-warning-default: $yellow-400;
$color-content-warning-hover: $yellow-500;
$color-content-warning-active: $yellow-600;
$color-content-warning-subtle: $yellow-200;
$color-content-warning-bold: $yellow-700;
$color-content-prize-default: $yellow-400;
$color-content-prize-hover: $yellow-500;
$color-content-prize-active: $yellow-600;
$color-content-prize-subtle: $yellow-200;
$color-content-prize-bold: $yellow-700;
$color-content-donation-default: $pink-500;
$color-content-donation-hover: $pink-600;
$color-content-donation-active: $pink-700;
$color-content-donation-subtle: $pink-200;
$color-content-donation-bold: $pink-700;
$color-content-link-default: $blue-500;
$color-content-link-active: $blue-700;
$color-content-category-food: $category-orange-400;
$color-content-category-transportation: $category-blue-400;
$color-content-category-shopping: $category-purple-400;
$color-content-category-life: $category-teal-400;
$color-content-category-entertainment: $category-yellow-400;
$color-content-category-other: $gray-500;
$color-background-default: $white-a100;
$color-background-sunken: $gray-50;
$color-background-plain: $white-a100;
$color-background-overlay: $black-a30;
$color-background-toast: $black-a80;
$color-background-inverse-default: $gray-800;
$color-background-inverse-sunken: $gray-900;
$color-background-inverse-plain: $black-a100;
$color-background-fixed-white: $white-a100;
$color-background-fixed-black: $black-a100;
$color-background-brand-default: $blue-500;
$color-background-brand-hover: $blue-600;
$color-background-brand-active: $blue-700;
$color-background-brand-subtlest: $blue-100;
$color-background-brand-subtle: $blue-300;
$color-background-brand-bold: $blue-700;
$color-background-brand-boldest: $blue-800;
$color-background-neutral-default: $gray-300;
$color-background-neutral-hover: $gray-400;
$color-background-neutral-active: $gray-500;
$color-background-neutral-subtle: $gray-100;
$color-background-neutral-subtle-hover: $gray-200;
$color-background-neutral-subtle-active: $gray-300;
$color-background-neutral-bold: $gray-500;
$color-background-neutral-bold-hover: $gray-600;
$color-background-neutral-bold-active: $gray-700;
$color-background-transparent-default: $transparent;
$color-background-transparent-hover: $black-a10;
$color-background-transparent-active: $black-a20;
$color-background-success-default: $green-500;
$color-background-success-hover: $green-600;
$color-background-success-active: $green-700;
$color-background-success-subtlest: $green-100;
$color-background-success-subtle: $green-300;
$color-background-success-bold: $green-700;
$color-background-success-boldest: $green-800;
$color-background-danger-default: $red-500;
$color-background-danger-hover: $red-600;
$color-background-danger-active: $red-700;
$color-background-danger-subtlest: $red-100;
$color-background-danger-subtle: $red-300;
$color-background-danger-bold: $red-700;
$color-background-danger-boldest: $red-800;
$color-background-warning-default: $yellow-400;
$color-background-warning-hover: $yellow-500;
$color-background-warning-active: $yellow-600;
$color-background-warning-subtlest: $yellow-100;
$color-background-warning-subtle: $yellow-200;
$color-background-warning-bold: $yellow-600;
$color-background-warning-boldest: $yellow-800;
$color-background-prize-default: $yellow-400;
$color-background-prize-hover: $yellow-500;
$color-background-prize-active: $yellow-600;
$color-background-prize-subtlest: $yellow-100;
$color-background-prize-subtle: $yellow-200;
$color-background-prize-bold: $yellow-600;
$color-background-prize-boldest: $yellow-800;
$color-background-donation-default: $pink-500;
$color-background-donation-hover: $pink-600;
$color-background-donation-active: $pink-700;
$color-background-donation-subtlest: $pink-100;
$color-background-donation-subtle: $pink-300;
$color-background-donation-bold: $pink-700;
$color-background-donation-boldest: $pink-800;
$color-background-category-food: $category-orange-400;
$color-background-category-life: $category-teal-400;
$color-background-category-entertainment: $category-yellow-400;
$color-background-category-transportation: $category-blue-400;
$color-background-category-shopping: $category-purple-400;
$color-background-category-other: $category-gray-400;
$color-border-default: $gray-300;
$color-border-subtle: $gray-100;
$color-border-bold: $gray-500;
$color-border-boldest: $gray-700;
$color-border-brand: $blue-500;
$color-border-success: $green-500;
$color-border-danger: $red-500;
$color-border-warning: $yellow-400;
$color-border-prize: $yellow-400;
$color-border-donation: $pink-500;
$color-border-divider: $black-a10;
$color-border-plain: $black-a100;
$color-border-inverse-divider: $white-a10;
$color-border-inverse-plain: $white-a100;
$color-border-fixed-white: $white-a100;
$color-border-fixed-black: $black-a100;
$color-border-fixed-bold: $gray-900;
$color-border-category-food: $category-orange-400;
$color-border-category-transportation: $category-blue-400;
$color-border-category-shopping: $category-purple-400;
$color-border-category-life: $category-teal-400;
$color-border-category-entertainment: $category-yellow-400;
$color-border-category-other: $category-gray-400;

//Shadow effect tokens
$shadow-sm: 0 .125rem .25rem rgba(22, 25, 29, 0.2), 0 0 1px rgba(22, 25, 29, 0.2);
$shadow-md: 0 .25rem .5rem rgba(22, 25, 29, 0.2), 0 0 1px rgba(22, 25, 29, 0.2);
$shadow-lg: 0 .5rem 1rem rgba(22, 25, 29, 0.2), 0 0 1px rgba(22, 25, 29, 0.2);
$shadow-inverse-md: 0 -.25rem .5rem rgba(22, 25, 29, 0.1);

//Font tokens
$font-family-default: Noto Sans TC, PingFangTC, Microsoft JhengHei, sans-serif;
$font-family-code: Roboto Mono, SF Mono, Consolas;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$letter-spacing-normal: normal;
$letter-spacing-wide: 1px;
$letter-spacing-widest: 2px;

// Component tokens
$opacity-disabled: .4;
$divider: 1px solid $color-border-subtle;