body, html {
  font-family: Noto Sans TC, PingFangTC, Microsoft JhengHei, sans-serif;
  font-size: 16px;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.display {
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 16px;
}

.heading-xl, h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16191D;
}

.heading-lg, h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16191D;
}

.heading-md, h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16191D;
}

.heading-sm, h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16191D;
}

.heading-xs, h5 {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #16191D;
}

code {
  font-family: Roboto Mono, SF Mono, Consolas;
}

.code-lg, .code-md, .code-sm {
  font-family: Roboto Mono, SF Mono, Consolas;
}

.body-lg, .code-lg {
  font-size: 1rem;
  line-height: 1.5rem;
}
.body-md, .code-md {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.body-sm, .code-sm {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.body-lg, .body-md, .body-sm, .code-lg, .code-md, .code-sm {
  font-weight: 400;
  letter-spacing: 1px;
}

.label-lg {
  font-size: 1rem;
  line-height: 1.5rem;
}
.label-md {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.label-sm {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.label-lg, .label-md, .label-sm {
  font-weight: 500;
  letter-spacing: 1px;
}

@font-face {
  font-family: "icon-invos";
  src: url("fonts/icon-invos.ttf?3h8epm") format("truetype"), url("fonts/icon-invos.woff?3h8epm") format("woff"), url("fonts/icon-invos.svg?3h8epm#icon-invos") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-invos" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm-clock:before {
  content: "\e900";
}

.icon-alert:before {
  content: "\e901";
}

.icon-alert-circle:before {
  content: "\e902";
}

.icon-alert-circle-filled:before {
  content: "\e903";
}

.icon-apple-watch:before {
  content: "\e904";
}

.icon-arrow-down:before {
  content: "\e905";
}

.icon-arrow-down-left:before {
  content: "\e906";
}

.icon-arrow-down-right:before {
  content: "\e907";
}

.icon-arrow-left:before {
  content: "\e908";
}

.icon-arrow-reverse-horizontal:before {
  content: "\e909";
}

.icon-arrow-reverse-vertical:before {
  content: "\e90a";
}

.icon-arrow-right:before {
  content: "\e90b";
}

.icon-arrow-up:before {
  content: "\e90c";
}

.icon-arrow-up-left:before {
  content: "\e90d";
}

.icon-arrow-up-right:before {
  content: "\e90e";
}

.icon-at-mark:before {
  content: "\e90f";
}

.icon-backpack:before {
  content: "\e910";
}

.icon-badge-check:before {
  content: "\e911";
}

.icon-badge-percentage:before {
  content: "\e912";
}

.icon-ban:before {
  content: "\e913";
}

.icon-barcode:before {
  content: "\e914";
}

.icon-barcode-book:before {
  content: "\e915";
}

.icon-barcode-scanner:before {
  content: "\e916";
}

.icon-bell:before {
  content: "\e917";
}

.icon-bell-off:before {
  content: "\e918";
}

.icon-bill:before {
  content: "\e919";
}

.icon-birthday-cake:before {
  content: "\e91a";
}

.icon-book:before {
  content: "\e91b";
}

.icon-book-open:before {
  content: "\e91c";
}

.icon-bookmark:before {
  content: "\e91d";
}

.icon-briefcase:before {
  content: "\e91e";
}

.icon-bug:before {
  content: "\e91f";
}

.icon-building-library:before {
  content: "\e920";
}

.icon-building-office:before {
  content: "\e921";
}

.icon-bus:before {
  content: "\e922";
}

.icon-bus-filled:before {
  content: "\e923";
}

.icon-calendar:before {
  content: "\e924";
}

.icon-calendar-check:before {
  content: "\e925";
}

.icon-calendar-cross:before {
  content: "\e926";
}

.icon-calendar-plus:before {
  content: "\e927";
}

.icon-camera:before {
  content: "\e928";
}

.icon-camera-filled:before {
  content: "\e929";
}

.icon-camera-focus:before {
  content: "\e92a";
}

.icon-camera-off:before {
  content: "\e92b";
}

.icon-car:before {
  content: "\e92c";
}

.icon-car-filled:before {
  content: "\e92d";
}

.icon-chart-bar:before {
  content: "\e92e";
}

.icon-chart-donut:before {
  content: "\e92f";
}

.icon-chart-line:before {
  content: "\e930";
}

.icon-chart-pie:before {
  content: "\e931";
}

.icon-check:before {
  content: "\e932";
}

.icon-check-bold:before {
  content: "\e933";
}

.icon-check-circle:before {
  content: "\e934";
}

.icon-check-circle-filled:before {
  content: "\e935";
}

.icon-chevron-down:before {
  content: "\e936";
}

.icon-chevron-left:before {
  content: "\e937";
}

.icon-chevron-right:before {
  content: "\e938";
}

.icon-chevron-up:before {
  content: "\e939";
}

.icon-clipboard:before {
  content: "\e93a";
}

.icon-clock:before {
  content: "\e93b";
}

.icon-clock-off:before {
  content: "\e93c";
}

.icon-cloud-arrow-down:before {
  content: "\e93d";
}

.icon-cloud-arrow-up:before {
  content: "\e93e";
}

.icon-cloud-off:before {
  content: "\e93f";
}

.icon-coding:before {
  content: "\e940";
}

.icon-cog-6-tooth:before {
  content: "\e941";
}

.icon-coin:before {
  content: "\e942";
}

.icon-coin-arrow-left:before {
  content: "\e943";
}

.icon-coin-arrow-right:before {
  content: "\e944";
}

.icon-coin-filled:before {
  content: "\e945";
}

.icon-coin-ib-mono:before {
  content: "\e94c";
}

.icon-coin-in-mono:before {
  content: "\e951";
}

.icon-compass:before {
  content: "\e952";
}

.icon-contact:before {
  content: "\e953";
}

.icon-container-arrow-down:before {
  content: "\e946";
}

.icon-container-arrow-left:before {
  content: "\e947";
}

.icon-container-arrow-right:before {
  content: "\e948";
}

.icon-credit-card:before {
  content: "\e954";
}

.icon-cross:before {
  content: "\e955";
}

.icon-cross-circle:before {
  content: "\e956";
}

.icon-cross-circle-filled:before {
  content: "\e957";
}

.icon-crown:before {
  content: "\e958";
}

.icon-currency-mark:before {
  content: "\e959";
}

.icon-customer-service:before {
  content: "\e95a";
}

.icon-dialog-circle:before {
  content: "\e95b";
}

.icon-dialog-square:before {
  content: "\e95c";
}

.icon-diamond:before {
  content: "\e95d";
}

.icon-document:before {
  content: "\e95e";
}

.icon-document-arrow-down:before {
  content: "\e95f";
}

.icon-document-arrow-up:before {
  content: "\e960";
}

.icon-document-chart-bar:before {
  content: "\e961";
}

.icon-document-filled:before {
  content: "\e962";
}

.icon-document-text:before {
  content: "\e963";
}

.icon-donation:before {
  content: "\e964";
}

.icon-donation-filled:before {
  content: "\e965";
}

.icon-emotion-bad:before {
  content: "\e966";
}

.icon-emotion-bad-filled:before {
  content: "\e967";
}

.icon-emotion-good:before {
  content: "\e968";
}

.icon-emotion-good-filled:before {
  content: "\e969";
}

.icon-emotion-mild:before {
  content: "\e96a";
}

.icon-emotion-mild-filled:before {
  content: "\e96b";
}

.icon-eye:before {
  content: "\e96c";
}

.icon-eye-off:before {
  content: "\e96d";
}

.icon-face-id:before {
  content: "\e96e";
}

.icon-faq:before {
  content: "\e96f";
}

.icon-film:before {
  content: "\e970";
}

.icon-filter:before {
  content: "\e971";
}

.icon-finger-print:before {
  content: "\e972";
}

.icon-flag:before {
  content: "\e973";
}

.icon-flag-mountain:before {
  content: "\e974";
}

.icon-flash:before {
  content: "\e975";
}

.icon-folder:before {
  content: "\e976";
}

.icon-folder-arrow-down:before {
  content: "\e977";
}

.icon-folder-cross:before {
  content: "\e978";
}

.icon-folder-plus:before {
  content: "\e979";
}

.icon-folderbox:before {
  content: "\e97a";
}

.icon-folderbox-arrow-down:before {
  content: "\e97b";
}

.icon-folderbox-cross:before {
  content: "\e97c";
}

.icon-gamepad:before {
  content: "\e97d";
}

.icon-gamepad-filled:before {
  content: "\e97e";
}

.icon-gender:before {
  content: "\e97f";
}

.icon-gender-female:before {
  content: "\e980";
}

.icon-gender-male:before {
  content: "\e981";
}

.icon-gift:before {
  content: "\e982";
}

.icon-gift-filled:before {
  content: "\e983";
}

.icon-hand-up:before {
  content: "\e984";
}

.icon-heart:before {
  content: "\e985";
}

.icon-heart-filled:before {
  content: "\e986";
}

.icon-home:before {
  content: "\e987";
}

.icon-home-filled:before {
  content: "\e988";
}

.icon-home-user:before {
  content: "\e989";
}

.icon-home-user-1:before {
  content: "\e98a";
}

.icon-info:before {
  content: "\e98b";
}

.icon-info-filled:before {
  content: "\e98c";
}

.icon-invoice:before {
  content: "\e98d";
}

.icon-invoice-filled:before {
  content: "\e98e";
}

.icon-invoice-text:before {
  content: "\e98f";
}

.icon-invos-heart:before {
  content: "\e990";
}

.icon-keyboard:before {
  content: "\e991";
}

.icon-list:before {
  content: "\e992";
}

.icon-list-check:before {
  content: "\e993";
}

.icon-list-plus:before {
  content: "\e994";
}

.icon-list-point:before {
  content: "\e995";
}

.icon-lock:before {
  content: "\e996";
}

.icon-lock-off:before {
  content: "\e997";
}

.icon-logo-invos:before {
  content: "\e998";
}

.icon-loud-speaker:before {
  content: "\e999";
}

.icon-magic-wand:before {
  content: "\e99a";
}

.icon-magnifier:before {
  content: "\e99b";
}

.icon-mail:before {
  content: "\e99c";
}

.icon-map:before {
  content: "\e99d";
}

.icon-map-pin:before {
  content: "\e99e";
}

.icon-member-card:before {
  content: "\e99f";
}

.icon-microphone:before {
  content: "\e9a0";
}

.icon-microphone-off:before {
  content: "\e9a1";
}

.icon-minus:before {
  content: "\e9a2";
}

.icon-minus-circle:before {
  content: "\e9a3";
}

.icon-minus-circle-filled:before {
  content: "\e9a4";
}

.icon-mobile:before {
  content: "\e9a5";
}

.icon-mobile-barcode:before {
  content: "\e9a6";
}

.icon-moon:before {
  content: "\e9a7";
}

.icon-music:before {
  content: "\e9a8";
}

.icon-paperclip:before {
  content: "\e9a9";
}

.icon-pencil:before {
  content: "\e9aa";
}

.icon-pencil-filled:before {
  content: "\e9ab";
}

.icon-phone-ring:before {
  content: "\e9ac";
}

.icon-photo:before {
  content: "\e9ad";
}

.icon-piggy-bank:before {
  content: "\e9ae";
}

.icon-pin:before {
  content: "\e9af";
}

.icon-plus:before {
  content: "\e9b0";
}

.icon-plus-circle:before {
  content: "\e9b1";
}

.icon-plus-circle-filled:before {
  content: "\e9b2";
}

.icon-point:before {
  content: "\e9b3";
}

.icon-qrcode:before {
  content: "\e9b4";
}

.icon-qrcode-scanner:before {
  content: "\e9b5";
}

.icon-refresh:before {
  content: "\e9b6";
}

.icon-robot:before {
  content: "\e9b7";
}

.icon-scanner:before {
  content: "\e9b8";
}

.icon-scanner-filled:before {
  content: "\e9b9";
}

.icon-share-android:before {
  content: "\e9ba";
}

.icon-share-ios:before {
  content: "\e9bb";
}

.icon-shield-check:before {
  content: "\e9bc";
}

.icon-shield-cross:before {
  content: "\e9bd";
}

.icon-shopping-bag:before {
  content: "\e9be";
}

.icon-shopping-bag-filled:before {
  content: "\e9bf";
}

.icon-shopping-cart:before {
  content: "\e9c0";
}

.icon-shopping-cart-filled:before {
  content: "\e9c1";
}

.icon-sound:before {
  content: "\e9c2";
}

.icon-square-arrow-out:before {
  content: "\e9c3";
}

.icon-square-splitted:before {
  content: "\e9c4";
}

.icon-square-stack:before {
  content: "\e9c5";
}

.icon-star:before {
  content: "\e9c6";
}

.icon-star-filled:before {
  content: "\e9c7";
}

.icon-start:before {
  content: "\e9c8";
}

.icon-store:before {
  content: "\e9c9";
}

.icon-store-filled:before {
  content: "\e9ca";
}

.icon-sun:before {
  content: "\e9cb";
}

.icon-switch:before {
  content: "\e9cc";
}

.icon-tableware:before {
  content: "\e9cd";
}

.icon-tableware-filled:before {
  content: "\e9ce";
}

.icon-tag:before {
  content: "\e9cf";
}

.icon-target:before {
  content: "\e9d0";
}

.icon-three-dots:before {
  content: "\e9d1";
}

.icon-three-line:before {
  content: "\e9d2";
}

.icon-thumb-up:before {
  content: "\e9d3";
}

.icon-thunder:before {
  content: "\e9d4";
}

.icon-thunder-filled:before {
  content: "\e9d5";
}

.icon-thunder-filled-off:before {
  content: "\e9d6";
}

.icon-ticket:before {
  content: "\e9d7";
}

.icon-translation:before {
  content: "\e9d8";
}

.icon-trash-can:before {
  content: "\e9d9";
}

.icon-trophy:before {
  content: "\e9da";
}

.icon-user:before {
  content: "\e9db";
}

.icon-user-group:before {
  content: "\e9dc";
}

.icon-video:before {
  content: "\e9dd";
}

.icon-volume-on:before {
  content: "\e9de";
}

.icon-volumn-filled-off:before {
  content: "\e9df";
}

.icon-volumn-filled-on:before {
  content: "\e9e0";
}

.icon-wallet:before {
  content: "\e9e1";
}

.icon-wallet-ios:before {
  content: "\e9e2";
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.mgt-100, .pdt-100 {
  margin-top: 4px;
}
.mgt-200, .pdt-200 {
  margin-top: 8px;
}
.mgt-400, .pdt-400 {
  margin-top: 16px;
}
.mgt-800, .pdt-800 {
  margin-top: 32px;
}
.mgb-100, .pdb-100 {
  margin-bottom: 4px;
}
.mgb-200, .pdb-200 {
  margin-bottom: 8px;
}
.mgb-400, .pdb-400 {
  margin-bottom: 16px;
}
.mgb-800, .pdb-800 {
  margin-bottom: 32px;
}
.mgx-100, .pdx-100 {
  margin: 0 4px;
}
.mgx-200, .pdx-200 {
  margin: 0 8px;
}
.mgx-400, .pdx-400 {
  margin: 0 16px;
}
.mgx-800, .pdx-800 {
  margin: 0 32px;
}
.mgy-100, .pdy-100 {
  margin: 4px 0;
}
.mgy-200, .pdy-200 {
  margin: 8px 0;
}
.mgy-400, .pdy-400 {
  margin: 16px 0;
}
.mgy-800, .pdy-800 {
  margin: 32px 0;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #EAECF0;
  margin: 1rem 0;
}

.bg-default {
  background-color: #FFFFFF;
}

.bg-sunken {
  background-color: #FFFFFF;
}

a {
  color: #007ACC;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #00437A;
}

.icon {
  display: inline-flex;
  font-size: 1em;
  line-height: 1em;
  width: 1em;
  height: 1em;
}

.tablist {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #EAECF0;
  background-color: white;
}
.tablist .tab {
  height: 3rem;
  padding: 12px 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #6E7787;
  border-bottom: 3px solid transparent;
}
.tablist .tab.selected {
  color: #16191D;
  font-weight: 700;
  border-bottom-color: #16191D;
}
.tablist.scrollable {
  padding: 0 16px;
  gap: 24px;
  overflow-x: auto;
}
.tablist.scrollable .tab {
  flex: none;
}
.tablist a:hover {
  text-decoration: none;
}

ol, ul {
  margin: 16px 0 16px 24px;
}
ol li, ul li {
  margin-bottom: 8px;
  line-height: 1.5rem;
}

ol {
  list-style: disc;
}

ul {
  list-style: decimal;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid #EAECF0;
}
.list-item:last-child {
  border-bottom: none;
}
.list-item .item-leading {
  padding: 16px 0;
}
.list-item .item-leading .icon {
  font-size: 1.5rem;
}
.list-item .item-content {
  padding: 16px 0;
  flex: 1;
}
.list-item .item-content .headline {
  margin: 0;
}
.list-item .item-content .description {
  margin: 2px 0 0;
  color: #6E7787;
}
.list-item .item-trailing {
  padding: 16px 0;
}

.sheet {
  padding: 16px;
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #EAECF0;
}

.btn, .btn-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}
.btn:hover, .btn-icon:hover {
  text-decoration: none;
}
.btn.loading, .btn-icon.loading {
  opacity: 0.4;
  color: transparent;
  pointer-events: none;
  cursor: not-allowed;
}
.btn.loading:before, .btn.loading:after, .btn-icon.loading:before, .btn-icon.loading:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 2px;
  border-bottom-color: transparent;
  border-radius: 999px;
}
.btn.loading:before, .btn-icon.loading:before {
  border-bottom-color: transparent !important;
  animation: rotation 1s linear infinite;
  z-index: 1;
}
.btn.loading:after, .btn-icon.loading:after {
  opacity: 0.4;
  z-index: 0;
}
.btn.disabled, .btn:disabled, .btn-icon.disabled, .btn-icon:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.btn {
  padding: 12px;
  font-weight: 500;
  color: #3B4049;
  border-radius: 8px;
  background-color: #EAECF0;
}
.btn .icon:first-child {
  margin-left: 6px;
}
.btn .icon:last-child {
  margin-right: 6px;
}
.btn span {
  margin: 0 8px;
}
.btn-lg {
  padding: 12px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 8px;
}
.btn-lg .icon {
  font-size: 1.25rem;
}
.btn-lg .icon:first-child {
  margin-left: 6px;
}
.btn-lg .icon:last-child {
  margin-right: 6px;
}
.btn-lg span {
  margin: 0 8px;
}
.btn-lg.loading:before, .btn-lg.loading:after {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
}
.btn-md {
  padding: 8px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  border-radius: 6px;
}
.btn-md .icon {
  font-size: 1rem;
}
.btn-md .icon:first-child {
  margin-left: 4px;
}
.btn-md .icon:last-child {
  margin-right: 4px;
}
.btn-md span {
  margin: 0 6px;
}
.btn-md.loading:before, .btn-md.loading:after {
  width: 1.25rem;
  height: 1.25rem;
  left: calc(50% - 0.625rem);
  border-width: 1.5px;
}
.btn-sm {
  padding: 6px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  border-radius: 4px;
}
.btn-sm .icon {
  font-size: 0.75rem;
}
.btn-sm .icon:first-child {
  margin-left: 2px;
}
.btn-sm .icon:last-child {
  margin-right: 2px;
}
.btn-sm span {
  margin: 0 4px;
}
.btn-sm.loading:before, .btn-sm.loading:after {
  width: 1rem;
  height: 1rem;
  left: calc(50% - 0.5rem);
  border-width: 1px;
}
.btn-outline {
  border-width: 1px;
}
.btn-text {
  padding: 0 !important;
  color: #007ACC;
  background-color: transparent;
}
.btn-text:hover {
  color: #00599E;
  text-decoration: none;
}
.btn-text:active {
  color: #00437A;
}
.btn-text span {
  margin: 0;
}
.btn-text .icon:first-child {
  margin-left: 0;
  margin-right: 4px;
}
.btn-text .icon:last-child {
  margin-right: 0;
  margin-left: 4px;
}
.btn-block {
  width: 100%;
}

.btn-neutral {
  color: #3B4049;
  background-color: #EAECF0;
  border-color: #6E7787;
}
.btn-neutral:hover {
  color: #3B4049;
  background-color: #D5D9DF;
}
.btn-neutral:active {
  color: #3B4049;
  background-color: #B8BDC7;
}
.btn-neutral.loading:before, .btn-neutral.loading:after {
  border-color: #6E7787;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #007ACC;
  border-color: #FFFFFF;
}
.btn-primary:hover {
  color: #FFFFFF;
  background-color: #00599E;
}
.btn-primary:active {
  color: #FFFFFF;
  background-color: #00437A;
}
.btn-primary.loading:before, .btn-primary.loading:after {
  border-color: #FFFFFF;
}

.btn-prize {
  color: #16191D;
  background-color: #F49A00;
  border-color: #16191D;
}
.btn-prize:hover {
  color: #16191D;
  background-color: #C17100;
}
.btn-prize:active {
  color: #16191D;
  background-color: #844B00;
}
.btn-prize.loading:before, .btn-prize.loading:after {
  border-color: #16191D;
}

.btn-danger {
  color: #FFFFFF;
  background-color: #D32038;
  border-color: #FFFFFF;
}
.btn-danger:hover {
  color: #FFFFFF;
  background-color: #B90018;
}
.btn-danger:active {
  color: #FFFFFF;
  background-color: #870012;
}
.btn-danger.loading:before, .btn-danger.loading:after {
  border-color: #FFFFFF;
}

.btn-outline {
  color: #007ACC;
  background-color: rgba(255, 255, 255, 0);
  border-color: #007ACC;
}
.btn-outline:hover {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.0980392157);
}
.btn-outline:active {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-outline.loading:before, .btn-outline.loading:after {
  border-color: #007ACC;
}

.btn-ghost {
  color: #007ACC;
  background-color: rgba(255, 255, 255, 0);
  border-color: #007ACC;
}
.btn-ghost:hover {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.0980392157);
}
.btn-ghost:active {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-ghost.loading:before, .btn-ghost.loading:after {
  border-color: #007ACC;
}

.btn-ghost-neutral {
  color: #3B4049;
  background-color: rgba(255, 255, 255, 0);
  border-color: #6E7787;
}
.btn-ghost-neutral:hover {
  color: #3B4049;
  background-color: rgba(0, 0, 0, 0.0980392157);
}
.btn-ghost-neutral:active {
  color: #3B4049;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-ghost-neutral.loading:before, .btn-ghost-neutral.loading:after {
  border-color: #6E7787;
}

.btn-white {
  color: #007ACC;
  background-color: #FFFFFF;
  border-color: #007ACC;
}
.btn-white:hover {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.0980392157);
}
.btn-white:active {
  color: #007ACC;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-white.loading:before, .btn-white.loading:after {
  border-color: #007ACC;
}

.btn-icon {
  padding: 12px;
  border-radius: 999px;
}
.btn-icon.loading:before, .btn-icon.loading:after {
  width: 1.75rem;
  height: 1.75rem;
}
.btn-icon .icon {
  font-size: 1.75rem;
}
.btn-icon .icon:first-child, .btn-icon .icon:last-child {
  margin: 0;
}
.btn-icon.btn-lg {
  padding: 12px;
}
.btn-icon.btn-lg .icon {
  font-size: 1.75rem;
}
.btn-icon.btn-lg.loading:before, .btn-icon.btn-lg.loading:after {
  width: 1.75rem;
  height: 1.75rem;
  left: calc(50% - 0.875rem);
  border-width: 2.5px;
}
.btn-icon.btn-md {
  padding: 8px;
}
.btn-icon.btn-md .icon {
  font-size: 1.5rem;
}
.btn-icon.btn-md.loading:before, .btn-icon.btn-md.loading:after {
  width: 1.5rem;
  height: 1.5rem;
  left: calc(50% - 0.75rem);
  border-width: 2px;
}
.btn-icon.btn-sm {
  padding: 6px;
}
.btn-icon.btn-sm .icon {
  font-size: 1.25rem;
}
.btn-icon.btn-sm.loading:before, .btn-icon.btn-sm.loading:after {
  width: 1.25rem;
  height: 1.25rem;
  left: calc(50% - 0.625rem);
  border-width: 1.5px;
}
.btn-icon.btn-xs {
  padding: 4px;
}
.btn-icon.btn-xs .icon {
  font-size: 1rem;
}
.btn-icon.btn-xs.loading:before, .btn-icon.btn-xs.loading:after {
  width: 1rem;
  height: 1rem;
  left: calc(50% - 0.5rem);
  border-width: 1px;
}
.btn-icon.disabled, .btn-icon:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-group {
  display: flex;
}

.btn-fab {
  padding: 16px;
  box-shadow: 0 0.25rem 0.5rem rgba(22, 25, 29, 0.2), 0 0 1px rgba(22, 25, 29, 0.2);
}
.btn-fab .icon {
  font-size: 2rem;
}
.btn-fab.loading:before, .btn-fab.loading:after {
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border-width: 3px;
}

.btn-group .btn + .btn {
  margin-left: 16px;
}

table,
.table {
  border: 1px solid #B8BDC7;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}
table th, table td,
.table th,
.table td {
  padding: 16px;
}
table thead,
.table thead {
  background-color: #F3F4F7;
  font-size: 0.875rem;
  font-weight: 500;
}
table thead th,
.table thead th {
  border-bottom: 1px solid #EAECF0;
}
table tbody td,
.table tbody td {
  border-bottom: 1px solid #EAECF0;
}
table tbody tr:last-child td,
.table tbody tr:last-child td {
  border-bottom: none;
}

.table-container {
  white-space: nowrap;
  overflow-x: auto;
}

.stepper {
  position: relative;
  min-width: 7rem;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}
.stepper-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #9FA6B2;
  background-color: #FFFFFF;
  border: 1px solid #EAECF0;
  border-radius: 999px;
  z-index: 1;
}
.stepper-title {
  margin-top: 4px;
  color: #9FA6B2;
}
.stepper:before, .stepper:after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 50%;
  height: 1px;
  border-bottom: 1px solid #EAECF0;
  z-index: 0;
}
.stepper:after {
  left: auto;
  right: 0;
}
.stepper:first-child:before {
  display: none;
}
.stepper:last-child:after {
  display: none;
}
.stepper.completed:after, .stepper.completed + .stepper:before {
  border-color: #007ACC;
}
.stepper.completed .stepper-indicator {
  border: none;
  background-color: #007ACC;
  color: #FFFFFF;
  color: transparent;
  font-family: "icon-invos";
}
.stepper.completed .stepper-indicator:before {
  content: "\e932";
  color: #FFFFFF;
  position: absolute;
}
.stepper.completed .stepper-title {
  color: #3B4049;
}
.stepper.on-going .stepper-indicator {
  border-color: #007ACC;
  color: #007ACC;
}
.stepper.on-going .stepper-title {
  color: #16191D;
}
.stepper.error:after, .stepper.error + .stepper:before {
  border-color: #D32038;
}
.stepper.error .stepper-indicator {
  border-color: #D32038;
  color: #D32038;
}
.stepper.error .stepper-title {
  color: #D32038;
}
.stepper-container {
  display: flex;
  overflow-x: auto;
  padding: 8px 0;
}

.form {
  width: 100%;
}

input::-moz-placeholder {
  color: #9FA6B2;
}

input::placeholder {
  color: #9FA6B2;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  padding: 16px 12px;
  height: 3.5rem;
  font-size: 1rem;
  line-height: 1em;
  color: #3B4049;
  border: 1px solid #B8BDC7;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.input::-moz-placeholder {
  color: #9FA6B2;
}
.input::placeholder {
  color: #9FA6B2;
}
.input-container {
  position: relative;
  width: 100%;
}
.input-container:last-child {
  margin-bottom: 0;
}
.input-container.has-right-icon .input {
  padding-right: 56px;
}
.input-container.has-left-icon .input {
  padding-left: 56px;
}
.input-label {
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  font-size: 1rem;
  color: #9FA6B2;
  transition: all 0.2s ease;
  z-index: 2;
}
.input ~ .icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.input-footer {
  display: flex;
  margin-top: 8px;
  color: #6E7787;
}
.input-footer .icon {
  position: relative;
  top: 1px;
  margin-right: 8px;
}
.input:not(:-moz-placeholder-shown):invalid {
  padding-top: 26px;
  padding-bottom: 6px;
}
.input:focus, .input:valid, .input:not(:placeholder-shown):invalid, .input.expand {
  padding-top: 26px;
  padding-bottom: 6px;
}
.input:not(:-moz-placeholder-shown):invalid ~ .input-label {
  color: #6E7787;
  font-size: 0.75rem;
  transform: translate(0, -10px);
}
.input:focus ~ .input-label, .input:valid ~ .input-label, .input:not(:placeholder-shown):invalid ~ .input-label, .input.expand ~ .input-label {
  color: #6E7787;
  font-size: 0.75rem;
  transform: translate(0, -10px);
}
.input:focus, .input.focus {
  padding-left: 11px;
  border: 2px solid #007ACC;
}
.input.error {
  padding-left: 11px;
  border: 2px solid #D32038;
}
.input.error ~ .input-label {
  color: #D32038;
}
.input.error ~ .input-footer {
  color: #D32038;
}
.input.disabled, .input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #6E7787;
  background-color: #F3F4F7;
}
.input.disabled ~ .icon, .input:disabled ~ .icon {
  pointer-events: none;
  cursor: not-allowed;
  color: #9FA6B2;
}

.pin-input {
  position: relative;
  display: inline-flex;
  padding: 12px;
  max-width: 3.5rem;
  min-width: 0;
  height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #3B4049;
  border: 1px solid #B8BDC7;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.pin-input-container {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.pin-input:focus, .pin-input.focus {
  border: 2px solid #007ACC;
}
.pin-input.error {
  border: 2px solid #D32038;
}
.pin-input.disabled, .pin-input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #6E7787;
  background-color: #F3F4F7;
}

.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 8px;
  border: 2px solid #B8BDC7;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative;
  top: 2px;
}
.checkbox:checked, .checkbox [checked=checked], .checkbox .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #007ACC;
  background-color: #007ACC;
  font-family: "icon-invos";
}
.checkbox:checked:before, .checkbox [checked=checked]:before, .checkbox .checked:before {
  content: "\e933";
  font-size: 1rem;
  color: #FFFFFF;
}
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 16px;
}
.checkbox-container:last-child {
  margin-bottom: 0;
}
.checkbox-description {
  display: block;
  width: 100%;
  margin-top: 2px;
  padding-left: 28px;
  color: #6E7787;
}
.checkbox.error {
  border-color: #D32038;
}
.checkbox.error:checked, .checkbox.error [checked=checked], .checkbox.error .checked {
  border-color: #007ACC;
}
.checkbox.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}
.checkbox.disabled + label {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3rem 1.5rem;
  z-index: 100;
  overflow: hidden;
}
.modal.hide {
  display: none;
}
.modal-container {
  width: 100%;
  max-width: 480px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.modal-iframe .modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-iframe iframe {
  flex: 1;
  width: 100%;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2980392157);
}
.modal.bounceIn .modal-container {
  animation: bounceIn 0.3s;
}
@keyframes bounceIn {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.modal-spinner {
  position: relative;
  padding: 0;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #EAECF0;
}
.nav-bar .btn-icon {
  height: inherit;
  border-radius: 0;
}
.nav-bar .btn-icon .icon {
  font-size: 1.5rem;
  color: #3B4049;
}
.nav-left {
  position: absolute;
  left: 0;
  padding-left: 4px;
  height: inherit;
}
.nav-right {
  position: absolute;
  right: 0;
  padding-right: 4px;
  height: inherit;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner:before, .spinner:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid #FFFFFF;
  border-radius: 999px;
}
.spinner:before {
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}
.spinner:after {
  position: absolute;
  top: 0;
  opacity: 0.4;
  z-index: 0;
}
.spinner-xxl {
  width: 3rem;
  height: 3rem;
}
.spinner-xxl:before, .spinner-xxl:after {
  border-width: 4px;
}
.spinner-xl {
  width: 2rem;
  height: 2rem;
}
.spinner-xl:before, .spinner-xl:after {
  border-width: 3px;
}
.spinner-lg {
  width: 1.75rem;
  height: 1.75rem;
}
.spinner-lg:before {
  border-width: 2px;
}
.spinner-md {
  width: 1.5rem;
  height: 1.5rem;
}
.spinner-md:before, .spinner-md:after {
  border-width: 2px;
}
.spinner-sm {
  width: 1.25rem;
  height: 1.25rem;
}
.spinner-sm:before, .spinner-sm:after {
  border-width: 1.5px;
}
.spinner-xs {
  width: 1rem;
  height: 1rem;
}
.spinner-xs:before, .spinner-xs:after {
  border-width: 1px;
}

.hint {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hint-container {
  min-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  font-size: 3rem;
  color: #FFFFFF;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}
.hint-text {
  text-align: center;
}
.hint-spinner .hint-container {
  min-width: auto;
}
.hint.fixed {
  position: fixed;
}

.alert {
  display: flex;
  width: 100%;
  gap: 8px;
  padding: 8px 12px;
  color: #3B4049;
  background-color: #EAECF0;
  border-radius: 8px;
}
.alert .icon {
  font-size: 1rem;
  position: relative;
  top: 3px;
}
.alert span {
  flex: 1;
}
.alert-primary {
  color: #00437A;
  background-color: #E2F7FF;
}
.alert-neutral {
  color: #3B4049;
  background-color: #EAECF0;
}
.alert-danger {
  color: #870012;
  background-color: #FFEFF1;
}
.alert-warning {
  color: #633500;
  background-color: #FFF6D8;
}
.alert-prize {
  color: #633500;
  background-color: #FFF6D8;
}/*# sourceMappingURL=base.css.map */